<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Tytuł Strony</title>
    <!-- Dodaj linki do CSS, np. Bootstrap, jeśli jest używany -->
    <link rel="stylesheet" href="ścieżka/do/twojego/stylu.css">
</head>
<body>
    <header>
        <!-- Tutaj może być nawigacja lub inne elementy nagłówka -->
    </header>

    <main>
        <!-- Treść Markdown będzie wyświetlana tutaj -->
        <div class="markdown-content">
            {{ content|safe }}
        </div>
    </main>

    <footer>
        <!-- Tutaj może być stopka strony -->
    </footer>

    <!-- Opcjonalnie, dodaj skrypty JavaScript na końcu dokumentu -->
    <script src="ścieżka/do/skryptu.js"></script>
</body>
</html>
