---
// import { Icon } from '@astrojs/starlight/components';
interface Props {
	icon?: any;
	title: string;
}

const { icon, title } = Astro.props;
---

<article class="card sl-flex flex-col gap-4 m-4 p-8 border border-gray-300 bg-gray-100 rounded-sm">
	<p class="title sl-flex font-semibold text-gray-800 text-lg leading-tight gap-4 items-center">
		<!-- {icon && <Icon name={icon} class="icon" size="1.333em" />} -->
		<span set:html={title} />
	</p>
	<div class="body m-0 text-sm">
		<slot />
	</div>
</article>

<style>
	.card:nth-child(4n + 1) {
		--sl-card-border: var(--sl-color-orange);
		--sl-card-bg: var(--sl-color-orange-low);
	}
	.card:nth-child(4n + 3) {
		--sl-card-border: var(--sl-color-green);
		--sl-card-bg: var(--sl-color-green-low);
	}
	.card:nth-child(4n + 4) {
		--sl-card-border: var(--sl-color-red);
		--sl-card-bg: var(--sl-color-red-low);
	}
	.card:nth-child(4n + 5) {
		--sl-card-border: var(--sl-color-blue);
		--sl-card-bg: var(--sl-color-blue-low);
	}
</style>
