---
export const prerender = false;

const destination = '/principles';
---

<meta http-equiv="refresh" content={`0;url=${destination}`}>

<script define:vars={{ destination }}>
  window.location.href = destination;
</script>

<body>
  <p>Redirecting to <a href={destination}>Principles Page</a>...</p>
</body>